---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/base.css";

const talks = (await getCollection("talks")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseLayout>
    <section class="-mb-3 mt-16 sm:mt-32">
      <h2 class="mb-5 block font-medium sm:mb-4">About</h2>
      <p class="leading-7 text-gray-1100">
        I'm Guilherme, a Frontend Engineer focused on crafting polished and
        user-first products. You can read my ramblings on <a
          class="underline hover:text-gray-1200"
          href="https://x.com/ubmit"
          target="_blank">Twitter</a
        > and take a look at my code on
        <a
          href="https://github.com/ubmit"
          target="_blank"
          class="underline hover:text-gray-1200"
        >
          GitHub</a
        >.
      </p>
    </section>

    <section class="-mb-3 mt-16 sm:mt-32">
      <h2 class="mb-5 block font-medium sm:mb-4">Talks</h2>
      <ul class="flex flex-col gap-7 sm:gap-4">
        {
          talks.map((talk) => (
            <li class="-mx-3 flex flex-col rounded-md px-3 no-underline hover:cursor-pointer hover:bg-gray-200 sm:py-3">
              <a href={`/talks/${talk.slug}/`} class="text-gray-1100">
                {talk.data.title}
                <span class="block font-mono text-sm font-light text-gray-1000">
                  <FormattedDate date={talk.data.date} />
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <section class="mt-16 sm:mt-32">
      <h2 class="mb-5 block font-medium sm:mb-4">Posts</h2>
      <ul class="flex flex-col gap-7 sm:gap-4">
        {
          posts.map((post) => (
            <li class="-mx-3 flex flex-col rounded-md px-3 no-underline hover:cursor-pointer hover:bg-gray-200 sm:py-3">
              <a href={`/${post.slug}/`} class="text-gray-1100">
                {post.data.title}
                <span class="block font-mono text-sm font-light text-gray-1000">
                  <FormattedDate date={post.data.pubDate} />
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </BaseLayout>
</html>
